#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

#start-stop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
#next-prev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
#inc-dec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
